<!DOCTYPE html>
<html ng-app="prep">
<head>
	<title>Prep Website</title>
	<base href="/">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style2.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div ng-controller= "ContentsController">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">RBK Prep</a>
      </div> 
      <ul class="nav navbar-nav">
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Week1
        <span class="caret"></span></a>
          <ul class="dropdown-menu" ng-repeat="weekLecture in weeks['one']">
            <li><a href="#">{{weekLecture['title']}}</a></li>
          </ul>
        </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Week2
        <span class="caret"></span></a>
          <ul class="dropdown-menu" ng-repeat="weekLecture in weeks['two']">
            <li><a href="#">{{weekLecture['title']}}</a></li>
          </ul>
        </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Week3
        <span class="caret"></span></a>
          <ul class="dropdown-menu" ng-repeat="weekLecture in weeks['three']">
            <li><a href="#">{{weekLecture['title']}}</a></li>
          </ul>
        </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Week4
        <span class="caret"></span></a>
          <ul class="dropdown-menu" ng-repeat="weekLecture in weeks['four']">
            <li><a href="#">{{weekLecture['title']}}</a></li>
          </ul>
        </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Week5
        <span class="caret"></span></a>
          <ul class="dropdown-menu" ng-repeat="weekLecture in weeks['five']">
            <li><a href="#">{{weekLecture['title']}}</a></li>
          </ul>
        </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Other
        <span class="caret"></span></a>
          <ul class="dropdown-menu" ng-repeat="weekLecture in weeks['two']">
            <li><a href="#">{{weekLecture['title']}}</a></li>
          </ul>
        </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Wiki
        <span class="caret"></span></a>
          <ul class="dropdown-menu" ng-repeat="weekLecture in weeks['two']">
            <li><a href="#">{{weekLecture['title']}}</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </nav>
</div>

<div ng-view></div>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app/auth/auth.js"></script>
<script src="app/contents/contents.js" async></script>
<script src="app/services/services.js"></script>
<script src="app/app.js"></script>
</body>
</html>